{{ $type := .type | default "authors" }}
{{ with .person }}
  <aside class="author">
    <div class="content">
      {{ with .Title }}
        <p class="name">{{ partial "PrepareHTML" . }}</p>
      {{ end }}
      {{ with .Params.description }}
        <p class="description">{{ partial "TruncateContent" (dict "content" .) }}</p>
      {{ end }}
      {{ $i18n := i18n "more" }}
      {{ with .Params.statutes }}
        {{ with site.GetPage (printf "statutes/%s" .) }}
          {{ $occupation := lower .Params.title_singular }}
          {{ if partial "isVowel" $occupation }}
            {{ $i18n = i18n "persons.discover_occupation.vowel" (dict "Occupation" $occupation) }}
          {{ else }}
            {{ $i18n = i18n "persons.discover_occupation.consonant" (dict "Occupation" $occupation) }}
          {{ end }}
        {{ end }}
      {{ end }}
      <p><a href="{{ .Permalink }}">{{ $i18n }}</a></p>
    </div>
    {{ with .Params.image}}
      {{ $desktop := false }}
      {{ $mobile := false }}
      {{ if eq $type "concerned" }}
        {{ $desktop = site.Params.persons.publication.desktop }}
        {{ $mobile = site.Params.persons.publication.mobile }}
      {{ else }}
        {{ $desktop = site.Params.persons.post.desktop }}
        {{ $mobile = site.Params.persons.post.mobile }}
      {{ end }}
      <div class="media">
        {{ partial "commons/image.html" (dict
          "src" .src
          "alt" .alt
          "desktop" $desktop
          "mobile" $mobile
          "picture_class" "avatar"
          "crop" "top"
        ) }}
      </div>
    {{ end }}
  </aside>
{{ end }}
